.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.material-icons {
  margin-left: 1rem;
}

.Button {
  border: none;
  padding: 0.7rem 1rem;
  background:#4285f4 ;
  color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.4);
  transition: 500ms;

  outline:none !important;
}
.Button:hover{
  background:#1562dd;
}
.buttonDanger{
  background: #e5443f;
}

.buttonDanger:hover{
  background: #aa0e09;
}

.MarginTop{
  margin-top: 1rem;
}

.group{
  background:#4285f4 !important;
}

.groupSelected{
  background:#1562dd !important;
}

.spinner{
  height: 4rem;
  width: 4rem;
  margin-bottom: 2rem;
}

.flexContainerRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.flexContainerCol{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.Thumbnail{
  height: 90%;
  width: 90%;
}

.allWidth{
  width: 100%;
}

.Card{
  width: 30rem;
}
.card-header{
  min-height: 10rem;
}

.progress {
  height: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

.Video{
  width: 16rem;
  height: 9rem;
}

.mb-3{
  margin: 1rem;
}
