.Dropzone {
  height: 200px;
  width: 200px;
  background-color: #fff;
  border: 2px dashed rgb(187, 186, 186);
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  color: #4a4a4a;
  transition: 500ms;
}

.Dropzone:hover>.Icon{
  opacity: 0.8;
  transform: scale(1.2);
}

.Icon {
  height: 64px;
  width: 64px;
  transition: 500ms;
}

.bigIcon{
  margin: 0.5rem;
  height: 5rem;
  width: 5rem;
  transition: 500ms;
  opacity: 0.9;
}

.bigIcon:hover{
  opacity: 1.3;
  transform: scale(1.1);
}

.FileInput {
  display: none;
}
